.App{
  background-color: #242424;
  flex: auto;
  margin-top: -22px;
  text-align: center;

}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.lead-title {
  color: #f5f5f5;
  text-transform: uppercase;
}

.super-link {
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(226, 40, 87);
}
.super-link:hover{
  color: white;
}

.search-box{
  height: 2rem;
  border: 2px solid #54b3d6 ;
  border-radius: 5px;
  align-self: center;
  order:2;
  margin-left: 40vw;
  margin-top: 2rem;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-content:center;
  margin-left: 8rem;
  justify-content: center;
}

.counter {
  padding-left: 15vw;
}

.counter-btn{
  height: 180px;
  width: 150px;
  padding: 1rem;
  margin: 1rem;
  font-size: 5rem;
  overflow: hidden;
  background-color: #242424;
  transition: .3s;
}
.counter-btn:hover{
  animation: pulse 1s infinite;
  transition: .3s;
  box-shadow: 0 0 10px 0 #30f000 inset, 0 0 20px 2px #30f000;
  border: 3px solid #30f000;

}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.95);
  }
    100% {
    transform: scale(.99);
  }
}
.counter-btn-{
  height: 180px;
  width: 150px;
  padding: 1rem;
  font-size: 5rem;
  overflow: hidden;
  margin: 1rem;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  background-color: #242424;
}
.counter-btn-:hover{
  box-shadow: 0 0 10px 0 #e40000 inset, 0 0 20px 2px #e40000;
  border: 3px solid #e40000;
}

.counter-txt {
  font-size: 250px;
  font-weight: 800;
}

.converter-container {
  padding: 20rem;
}

.hero-image {
  background-image:  url("https://images.unsplash.com/photo-1476067897447-d0c5df27b5df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* z-index: -2; */
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.converter-input{
  height: 5rem;
  font-size: 30px;
}